.Perfil {
    background-color: #176B87;
    width: 800px;
    height: 400px;
    margin: 0 0 0 40px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFF;
}

.Perfil img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
