.alert-container {
    /*padding: 1.5rem 1.5rem 1.5rem 14rem;*/
    background: #212121 repeat;
    flex: 6;
    min-height: 100vh;
}
     
.alert-container .alert-title {
    padding: 20px 20px 20px 40px;
    
}

.alert-container .alert-title span {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line {
    margin: 9px 0;
}


.Alertas-container {
    padding: 0.75rem;
    padding: 0 40px;
    border-radius: 10px;
    padding: 0 40px;
    height: 10vh;
}

.alert-container .alert-title .cadastro-botão{
    padding: 0 0 0 3rem;
  }

.alert-container .alert-title .cadastro-botão .btn-cadastro {
background-color: #448d88;
  padding: 13px 60px;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:23px;
}

.alert-container .alert-title .cadastro-botão .btn-cadastro:hover {
    background: #64CCC5;
}

.alert-container .alert-title {
    padding: 20px 20px 20px 40px;
}

.alert-container .alert-title span {
    font-size: 1.4rem;
    color: #fff;
}


.summary {
    font-size: 1.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;

    cursor: pointer;

}

.details {
    width: 100%;
    background: #343434;
    padding: 0.77rem;

}

.details p {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}