* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  flex-grow: 1;
}

.flex.shifted {
  margin-left: 205px;
}