.info-container {
    /*padding: 1.5rem 1.5rem 1.5rem 14rem;*/
    background: #212121 repeat;
    flex: 6;
    min-height: 100vh;
}

.info-container .info-title {
    padding: 20px 20px 20px 40px;
}

.info-container .info-title span {
    font-size: 1.4rem;
    color: #fff;
}

.info-container .box-container {
    padding: 0 40px;
    background: #212121;
}

.info-container .box-container .box-item {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    height: 180px;
}

.info-container .info-title .cadastro-bot達o {
    padding: 0 0 0 3rem;
}

.info-container .info-title .cadastro-bot達o .btn-cadastro {
    background-color: #448d88;
    padding: 13px 60px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 23px;
}

.info-container .info-title .cadastro-bot達o .btn-cadastro:hover {
    background: #64ccc5;
}

.info-container .box-container .box-item .image {
    background-image: url("https://wallpapercave.com/dwp1x/wp10154430.jpg");
    /* https://wallpapercave.com/dwp1x/wp10154430.jpg */
    /* https://wallpapercave.com/dwp1x/wp10154402.jpg */
    /* https://wallpapercave.com/wp/wp10154404.jpg */
    background-size: cover;
    background-position: center;
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
}

.info-container .box-container .box-item .box-info {
    background: #2f2f2f;
    flex: 3;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
}

.info-container .box-container .box-item .box-info h2,
.info-container .box-container .box-item .box-info p {
    color: #fff;
    font-size: 1.2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.line {
    margin: 9px 0;
}


.image-content-cardzin .cardzin-content {
    padding: 10px 14px;
    flex-direction: column;
    align-items: center;
    display: flex;

}

.slide-content-cardzin {
    margin: 0 40px;
    font-size: 1.2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.cardzin {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}


.image-content-cardzin {
    row-gap: 5px;
    position: relative;

}

.cardzin-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    align-items: center;

}


.image-content-cardzin .cardzin-image img {
    align-items: center;

}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
}

.cardzin-image .cardzin-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #448d88
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.cardzin-button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cardzin-button:hover {
    background: #265DF2;
}

.modalGera{
    padding: 1%;
    background-color: #333;
    position: absolute;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ModalContainer {
    width: 40vw;
    height: 35vh;
    background-color: rgba(170, 170, 170, 0.007);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Modal-input-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 98%;
    display: flex;
    justify-content: space-around;
    background-color: #00000000;
    gap: 2%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.Modal-titulo{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 26px;
    text-align: center;
    color:#fff
}

.Modal-input {
    width: 100%;
    height: 6vh;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 22px;
    border-style: solid;
    background-color: #fff0;
    border-width: 0.15vw;
    border-color: #fff;
}

.Modal-input::placeholder {
    color: #999;
    font-size: 19px;
    /* Cor desejada para o placeholder */
}

.Modal-salvar {
    width: 15vw;
    height: 5vh;
    margin: 1vw;
    border: none;
    background-color: #055a1f;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.Modal-salvar:hover {
    background-color: #077a2b; 
  }
  
  .Modal-salvar:active {
    background-color: #033613; 
  }

.Modal-delete {
    width: 15vw;
    height: 5vh;
    margin: 1vw;
    border: none;
    background-color: #5a050c;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.Modal-footer{
 display: flex;
 padding-top: 3vh;
 justify-content: space-around;
 gap: 4vw;

}

.Modal-delete:hover {
    background-color: #7a071a; /* Cor de fundo ao passar o mouse */
  }
  
  .Modal-delete:active {
    background-color: #33040c; /* Cor de fundo ao clicar no bot達o */
  }
