.info-container {
    /*padding: 1.5rem 1.5rem 1.5rem 14rem;*/
    background: #212121;
    flex: 6;
}

.info-container .info-title {
    padding: 20px 20px 20px 40px;
}

.info-container .info-title span {
    font-size: 1.4rem;
    color: #fff;
}

.info-container .box-container {
    padding: 0 40px;
    height: 10vh;
}

.info-container .box-container .box-item {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    height: 180px;
}

.info-container .info-title .cadastro-botão{
    padding: 0 0 0 3rem;
  }

.info-container .info-title .cadastro-botão .btn-cadastro {
    background-color: #448d88;
    padding: 13px 60px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.info-container .info-title .cadastro-botão .btn-cadastro:hover {
    background: #64CCC5;
}



.info-container .box-container .box-item .image {
    background: #a0a0a0;
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
}

.info-container .box-container .box-item .box-info {
    background: #2F2F2F;
    flex: 3;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
}

.info-container .box-container .box-item .box-info h2,
p {
    color: #fff;
    font-size: 1.2rem;
}

.line {
    margin: 9px 0;
}