.sidebar {
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    left: -205px;
    transition: left 0.3s ease-in-out;
}

.sidebar.open {
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.toggle-button {
    background-color: #333;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 36%;
    border: none;
    padding: 5px;
    position: relative;
    left: -61px;
    cursor: pointer;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    cursor: pointer;
}

.sidebar .logo .logo-img {
    width: 30px;
    height: 30px;
}

.sidebar .logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.sidebar .logo span {
    color: #176B87;
}

.sidebar .links {
    padding: 20px 0;
}

.sidebar .links nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .links nav li a {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.sidebar .links nav li a.active {
    background: #176B87;
    width: 100%;
}

.sidebar .links nav li a:hover {
    background: #176B87;
    transition: 200ms ease-in-out;
}

.sidebar .links nav li .icon {
    font-size: 20px;
    color: #fff;
}

.sidebar .links nav li span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

#logout-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}